div {
  background-color: lightgray;
}

nav {
  background-color: gray;
}
nav a {
  color: red;
}
nav li {
  list-style-type: none;
}

main h1 {
  font-size: 20px;
}

main a {
  color: red;
}
article a {
  display: block;
  padding: 18px 0px;
  text-decoration: none;
}

article:nth-of-type(3) img {
  width: 800px;
  height: 600px;
}
