* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  background-color: rgb(231, 227, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationbox {
  background-color: lightgray;
  width: 50vh;
  height: 50vh;
}
.walker {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  background-color: orange;
  width: 10vh;
  height: 10vh;
  animation: walk 6s linear infinite reverse;
}

@keyframes walk {
  0%,
  100% {
  }
  25% {
    transform: translateY(40vh);
    background-color: blue;
  }
  50% {
    transform: translate(40vh, 40vh);
    background-color: yellow;
  }
  75% {
    transform: translateX(40vh);
    background-color: red;
  }
}
