* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  text-align: center;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  background-color: gray;
  color: white;
  text-shadow: 5px 4px 0px rgb(0, 0, 0);
  padding: 20px 20px;
}


}
